body {
    background-color: aqua;
    color:blue;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: aqua;
    color:blue;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: aqua;
    color:blue;
    font-family: 'Courier New', Courier, monospace;
}